<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Girls Blog</title>
</head>
<body>

        <div>
            <h1><a href="">Django Boys Blog</a></h1>
        </div>

        <div>
            <p>published: 04.09.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Jai Hind Jai Hind ke Sena.</p>
        </div>

        <div>
            <p>published: 04.09.2017, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>You Can do it Bro.</p>
        </div>
</body>
</html>